[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=GEditor
Exec=/usr/bin/single-instance /opt/GEditor/bin/GEditor
Icon=/usr/share/icons/hicolor/80x80/apps/GEditor80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
